<html>
<head>
	<title>uWhere</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<style>
  	.jumbotron{
  		background-image: url(http://www.allmacwallpaper.com/get/iMac-21-inch-wallpapers/San-francisco-golden-gate-bridge-1920x1080/3011-9.jpg);
  		height: 800px;
  		background-size: 100%;
  		padding: 150px;
  	}
  	.navbar{
  		background-color: #323C46;
  		border: 0px;
  	}
  	.footer{
  		color: gray;
  		text-align: center;
  		background-color: #323C46;
  	}
  </style>
</head>
<body>
	<div id="wrapper">
		<nav class="navbar navbar-default navbar-fixed-top">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			</button>
			<a class="navbar-brand" href="/">uWhere</a>
		</div>
		<div class="container">
			<button type="button" class="btn btn-default navbar-btn navbar-right"><a href="/loginpage">Login</a></button>
			<button type="button" class="btn btn-default navbar-btn navbar-right"><a href="/registerpage">Register</a></button>
		</div>
		</nav>
		<div class="jumbotron text-center" >
			<h1>Meeting your friends?</h1>
			<p>We'll help you plan it</p>
			<p><a class="btn btn-primary btn-lg" href="/registerpage" role="button">Sign up here!</a></p>
		</div>
		<div class="footer navbar-fixed-bottom">
			<h4>&#169; 2015 Flying Pandas</h4>
			<a href="http://www.facebook.com" class="icona-facebook"></a>
		</div>
		</div> <!-- end of wrapper -->
</body>
</html>