<!DOCTYPE html>
<html lang="en">
<head>
  <title>uWhere | Register</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <style>
  #wrapper{
    background: -webkit-linear-gradient(#E6F1F6, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#E6F1F6, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#E6F1F6, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#E6F1F6, white); /* Standard syntax (must be last) */
  }
  </style>
</head>
<body>
<div id="wrapper">
<div class="container">
  <h2><a href="/">uWhere</a> | Register</h2>
  <form action="/register" method="post" class="form-horizontal" role="form">
    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="name" id="name" placeholder="Enter full name">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" name="email" id="email" placeholder="Enter email">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="phone">Phone Number:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="phone" id="phone" placeholder="Enter phone number">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Password:</label>
      <div class="col-sm-10">          
        <input type="password" class="form-control" name="password" id="pwd" placeholder="Enter password">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="cpassword">Confirm Password:</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" name="cpassword" id="cpassword" placeholder="Confirm password">
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-warning">Submit</button>
      </div>
    </div>
  </form>
  <p>Already have an account? <a href="/loginpage">Login</a></p>
</div>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
<div id="message" class="alert alert-danger">
              <h5>{{message}}</h5>
      </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
</div><!-- End of wrapper -->
</body>
</html>
